<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to Shri Durga Traders!</h2>
        <p class="lead">Established on 15 January, 2018,  we are a company that provides high quality plywood that has been processed by running through hot press, dryers, boilers and other modern machines.  We also provide flush door, block board, laminates, veneers, timbers, PVC panel and sheets.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
