<section id="map" class="map">
  <div class="col-lg-10 col-lg-offset-1 text-center">
  <hr class="small">

  <h2>Find Us!</h2>
  <hr class="small">
  </div>
  <iframe id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://www.google.com/maps/embed/v1/place?q=A-18%2C%20Small%20Scale%20Furniture%20Industrial%20Area%2C%20Kota%2C%20Rajasthan&key=AIzaSyAHnWnu3hw9NVrlwxxJ0sWPHiQIwz-pvWE"
    allowfullscreen>
  </iframe>
  <br>
  <small id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://www.google.com/maps/embed/v1/place?q=A-18%2C%20Small%20Scale%20Furniture%20Industrial%20Area%2C%20Kota%2C%20Rajasthan&key=AIzaSyAHnWnu3hw9NVrlwxxJ0sWPHiQIwz-pvWE"
    allowfullscreen>
  </small>
  <div class="col-lg-10 col-lg-offset-1 text-center">
  </div>
</section>
