<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <hr class="small">
        <h2>Our Products</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-responsive" src="img/portfolio-1.jpg">
                <h2>Plywood</h2>
                <p><b>Plywood</b> is a sheet material manufactured from plies of wood veneer that are glued together with adjacent layers. It is an engineered wood from the family of manufactured boards which includes MDF and chipboard.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class= "img-responsive" src="img/portfolio-2.jpg">
              <h2>Flush Door</h2>
              <p><b>Flush Door</b> is a flat door having a flush surface and is not divided into any panels or moldings. It is composed of a wooden framework which is covered by ply, MDF or natural wood on both sides. </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-responsive" src="img/portfolio-3.jpg">
                <h2>Block Board</h2>
                <p><b>Block Board</b> is a compound wood board consisting of nearly square strips of softwood placed side by side and sandwiched between veneer panels, often of hardwood.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-responsive" src="img/portfolio-4.jpg">
                <h2>Laminates</h2>
                <p><b>Laminates</b> are laminated products primarily used as furniture surface materials or wall paneling. It can be manufactured as either high- or low-pressure laminate, ie difference in pressure applied in the pressing process.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-responsive" src="img/portfolio-5.jpg">
                <h2>Veneers</h2>
                <p><b>Veneers</b> refers to thin slices of wood that typically are glued onto core panels to produce flat panels such as doors, tops and panels for cabinets, parquet floors and parts of furniture.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-responsive" src="img/portfolio-6.jpg">
                <h2>Timbers</h2>
                <p><b>Timber</b> is a type of wood that has been processed into beams and planks, a stage in the process of wood production. Timber is mainly used for structural purposes but has many other uses as well.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-responsive" src="img/portfolio-7.jpg">
                <h2>PVC Panel & Sheets</h2>
                <p><b>PVC Panels</b> are an easy-to-install option for virtually any indoor wall and ceiling cladding project. They are a cost-effective construction material, providing excellent performance and bright, visually-pleasing esthetics. </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
